<div class="grid">

    <div class="col-12">
        <h1 class="dash-title">Dashboard</h1>
    </div>

    <div class="col-1"></div>

    <div class="col-5">
        <p-card header="Despesas">
            <p class="m-2 font-bold">Mês de referência: {{ dashboard.mesAtual }}</p>
            <p class="m-2">
                Maior despesa: {{ dashboard.maiorDespesa | currency:'BRL' }}
            </p>
            <p class="m-2">
                Menor despesa: {{ dashboard.menorDespesa | currency:'BRL' }}
            </p>
            <ng-template pTemplate="footer">
                <div class="flex">
                    <p-button label="Visualizar todas" class="w-full p-button-link" styleClass="w-full" 
                        severity="danger" [routerLink]="['/dash-faturamentos', fatTypeExpense]"
                        pTooltip="Visualizar despesas" tooltipPosition="top"/>
                </div>
            </ng-template>
        </p-card>
    </div>

    <div class="col-5">
        <p-card header="Receitas">
            <p class="m-2 font-bold">Mês de referência: {{ dashboard.mesAtual }}</p>
            <p class="m-2">
                Maior receita: {{ dashboard.maiorReceita | currency:'BRL' }}
            </p>
            <p class="m-2">
                Menor receita: {{ dashboard.menorReceita | currency:'BRL' }}
            </p>
            <ng-template pTemplate="footer">
                <div class="flex">
                    <p-button label="Visualizar todas" class="w-full p-button-link" styleClass="w-full" 
                        [routerLink]="['/dash-faturamentos', fatTypeRecipe]"
                        pTooltip="Visualizar receitas" tooltipPosition="top"/>
                </div>
            </ng-template>
        </p-card>
    </div>

    <div class="col-12 btnUpdateData">
        <p-button label="Atualizar dados" icon="pi pi-refresh" iconPos="bottom" severity="info"
            (onClick)="regerarDados()"/>
    </div>

</div>