@font-face {
    font-family: nunito;
    src: url(assets/fonts/Nunito/static/Nunito-Light.ttf) format("opentype");
}

body {
    font-family: 'nunito';
    background-color: rgb(35, 39, 41);
    color: #fff;
}

.container {
    margin-top: 10px;
}